.nav-header {
    background-color: #1d2023ec;

    .option {
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 0px 15px 0px 15px;
        font-weight: 400;
        &:hover {
            color: #2aa0dbe5;
        }
    }

    .logoJWT {
        color: #7fd4ffe5;
        font-weight: 600;

        &:hover {
            color: white;
        }
    }

    .active {
        color: #2aa0dbe5;
    }

}
