.Register {
    .title-form-register {
        color: #0CBDDF;
    }

    .child {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        padding: 15px 0px 20px 0px;

        .register-btn {
            background-color: #0CBDDF;
            border: none;
            color: #fff;
            font-weight: 650;

            &:hover {
                background-color: #0db1d2;
            }
        }

        .create-new-account {
            border: none;
            background-color: #42b72a;
            color: #fff;
            font-weight: 650;

            &:hover {
                background-color: #3daa28;
            }
        }
    }
}

