.ForgotPassword {
    background-color: #f0f2f5;
}

.forgotpassword-container {
    .child {
        .title-form-forgot {
            color: #0CBDDF;
        }

        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        padding: 15px 18px 25px 18px;
    }

    .back-forget {
        span {
            cursor: pointer;
            color: #0866ff;
            font-size: 15px;

            &:hover {
                color: #225bb8;
            }
        }
    }
}