.loading-app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 95vh;
    span {
        font-weight: 500;
        color: #0CBDDF;
        padding-top: 15px;
    }
}

.content-card-body {
    background-color: #f8ffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 10px 15px 12px 15px;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}